/* General */
* {
    font-family: "Roboto", sans-serif;
    line-height: 1;
}

body {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

h3 {
    font-size: 28px;
    font-weight: 900;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
}

/* Header & Hero */

.hero-wrapper {
    background-color: #1f2937;
    padding: 8px 32px;
}

.hero, .header {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.header-links {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
    gap: 16px;
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 80px 0px;
    flex-wrap: wrap;
}

.hero-content {
    color: #f9faf8;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    border-radius: 8px;
    width: 100%;
}

.hero-buttons button {
    background-color: #3882f6;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
}

/* Information Section */

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    padding: 64px 32px;
    gap: 32px;
    color: #1f2937;
}

.info-items-list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
    gap: 64px;
}

.info-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.info-item img {
    width: 80px;
    height: 80px;
    padding: 32px;
    border: solid 2px #3882f6;
    border-radius: 12px;
}

.info-item p {
    text-align: center;
    width: 100%;
}

/** Quote Section */

.quote-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 96px 32px;
    gap: 32px;
    background-color: #e5e7eb;
}

.quote-text {
    max-width: 1080px;
    font-size: 36px;
    line-height: 1.5;
    font-weight: 100;
    color: #1f2937;
}

.quote-author {
    display: flex;
    width: 100%;
    max-width: 1080px;
    justify-content: flex-end;
}

.quote-author p {
    font-size: 20px;
}

/* CTA Section */

.cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 32px;
}

.cta-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 1080px;
    gap: 64px;
    background-color: #3882f6;
    color: #fff;
    padding: 40px 80px;
    border-radius: 12px;
}
.cta-text {
    display: flex;
    flex-direction: column;
    gap:12px;
}


.cta-button button {
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    border: solid 2px #fff;
    padding: 12px 24px;
    font-size: 18px;
}

/** Footer **/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 32px 32px;
    color: #fff;
    font-weight: 200;
}
